<form method="POST" action="/leaderboard" id="userForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" ><br>
    <label for="password">Password (Optional):</label>
    <input type="text" id="password" name="password" placeholder="password" ><br>
    <button type="submit" id="userSubmit"> Submit </button>
</form>

{{#if gameStatsList}}
    <table class="game-stats-table">
        <tr>
            <th>User</th>
            <th>Mine Density</th>
            <th>BoardSize</th>
            <th>Clicks</th>
            <th>Time(s)</th>
        </tr>
        {{#each gameStatsList}}
            <tr>
                <td>{{username}}</td>
                <td>{{difficulty}}</td>
                <td>{{boardSize.rows}} x {{boardSize.columns}}</td>
                <td>{{clicks}}</td>
                <td>{{timeCompleted}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

<script src=""></script>