<h1>Game Statistics:</h1>
<form action="/leaderboard" method="get">
    <input type="text" placeholder="'current' or others" name="userQ" value="">
    <select id="boardSizeQ" name="boardSizeQ">
        <option value="any">Any Size</option>
        <option value="15x20">Large (15 x 20)</option>
    </select>
    <input type="submit" value="Search" >
    <input type="reset" value="Clear All">
</form>

{{#if gameStatsList}}
    <table class="game-stats-table">
        <tr>
            <th>User</th>
            <th>Mine Density <button id="mineDensityButton" class="asc">Asc</button><button id="mineDensityButton" class="desc">Desc</button></th>
            <th>BoardSize</th>
            <th>Clicks</th>
            <th>Time(s)<button id="timeButton" class="asc">Asc</button><button id="timeButton" class="desc">Desc</button></th>
        </tr>
        {{#each gameStatsList}}
            <tr>
                <td>{{username}}</td>
                <td>{{difficulty}}</td>
                <td>{{boardSize.rows}} x {{boardSize.columns}}</td>
                <td>{{clicks}}</td>
                <td>{{timeCompleted}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

<form method="POST" action="/leaderboard" id="userForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" ><br>
    <label for="password">Password (Optional):</label>
    <input type="text" id="password" name="password" placeholder="password" ><br>
    <button type="submit" id="userSubmit"> Submit </button>
</form>

<script src="/minesweeper_scripts/Leaderboard.js"></script>